body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	font-family: Public Sans, "Public Sans Fallback: Arial",ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.c-full {
	margin-right: -15px;
    margin-left: -15px;
}

p {
	color: #555;
}

.navbar {
	background-color: #f9f9f9 !important;
	top: 0;
	height: 50px;
	color: #013c4d !important;
	padding: 0rem 1rem !important;
}

.or {
	font-size: 25px !important;
	margin-right:0.5rem ;
	margin-left: 0.5rem ;
	backdrop-filter: blur(100px) !important;
	color: #013c4d8f;
}

.knfs-logo {
	height: 25px !important;
	padding: 0 !important;
	margin: 0px !important;
	
}

.knfs-logo img {
	vertical-align: middle;
	height: 25px !important;
	margin-bottom: 0.3rem;
}

.navbar .scrolled {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) !important;
	backdrop-filter: blur(8px) !important;
	background: transparent !important;
}
.navbar .nav-item .dropdown {
	font-size: 6px !important;
	color: #8d8b8b !important;
}

.navbar .navbar-brand {
	color: #013c4d;
}

.navbar .navbar-nav .nav-link {
	color: #013c4d;
}

.navbar .navbar-nav .nav-link:hover {
	color: #8d8b8b;
}

.hero {
	background-color: #f9f9f9;
    text-align: center;
    padding: 2rem 2rem;
    border-bottom: 0.6rem solid #f9f9f9;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

@keyframes bling {
	0% {
		box-shadow: 0 0 20px rgba(255, 185, 185, 1),
			0 0 40px rgba(255, 234, 185, 0.8),
			0 0 60px rgba(202, 255, 185, 0.6),
			0 0 80px rgba(185, 255, 241, 0.4),
			0 0 100px rgba(185, 201, 255, 0.2);
		transform: scale(1);
	}

	50% {
		box-shadow: 0 0 30px rgba(255, 185, 185, 1),
			0 0 60px rgba(255, 234, 185, 0.8),
			0 0 900px rgba(202, 255, 185, 0.6),
			0 0 120px rgba(185, 255, 241, 0.4),
			0 0 150px rgba(185, 201, 255, 0.2);
		transform: scale(1.05);
	}

	100% {
		box-shadow: 0 0 20px rgba(255, 185, 185, 1),
			0 0 40px rgba(255, 234, 185, 0.8),
			0 0 60px rgba(202, 255, 185, 0.6),
			0 0 80px rgba(185, 255, 241, 0.4),
			0 0 100px rgba(185, 201, 255, 0.2);
		transform: scale(1);
	}
}

.hero img {
	animation: bling 2s ease-in-out infinite;
	width: 150px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	border-radius: 100%;
	background-color: #f9f9f9;
}

.hero h1 {
	font-size: 3rem;
	color: #333;
}

.hero p {
	font-size: 1.25rem;
	color: #555;
}

section {
	margin-bottom: 3em;
	padding: 20px;
	background-color: #f9f9f9;
}

pre {
	border: 1px solid #f8f9fa;
	padding: 10px;
	overflow-x: auto;
	border-radius: 8px;
	overflow-x: auto;
	box-shadow: 0 3px 3px rgba(68, 68, 68, 0.1);
}

pre code {
	/* background-color: #f8f9fa; */
	background-color: black;
	overflow-x: auto;
}

.token.comment {
	color: #6a737d;
}

.token.keyword {
	color: #d73a49;
}

.token.string {
	color: #032f62;
}

.token.function {
	color: #6f42c1;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 66px;
}

.links>a {
	color: #6f7477;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 10px;
	color: #9f9fa0;
}

.bami {
	color: #013C4D;
}

.mi {
	color: #2B7F84;
}

.i {
	color: #2B7F84;
}

.lead {
	color: #f9f9f9;
	font-size: 20px !important;
	width: 420px;
}

@media (max-width: 500px) {
	.lead {
		width: 310px;
	}
}

.quick-action {
	width: 330px;
}

.highlight-text {
	font-size: 23px !important;
}

.code-container {
	position: relative;
	margin-bottom: 1rem;
}

.copy-button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	border: none;
	background-color: transparent;
	color: #a9a5a5;
}

.copy-button:hover {
	cursor: pointer;
	color: #7c7878;
	background-color: transparent;
}

.copy-button:active {
	cursor: pointer;
	color: #5e5b5b;
	background-color: transparent;
}

.copy-button:focus {
	cursor: pointer;
	color: #5e5b5b;
	background-color: transparent;
	outline: none;
}

.btn-knfs {
	background-color:#013c4d;
	color: #f9f9f9;
}

.btn-knfs:hover {
	background-color: #f9f9f9;
	color: #013c4d;
	border: 0.1rem solid #013C4D;
}

.btn-knfs-white {
	background-color: #f9f9f9;
	color: #013c4d;
	border: 0.1rem solid #013C4D;
}

.btn-knfs-white:hover {
	background-color:#013c4d;
	color: #f9f9f9;
	border: 0.1rem solid #013C4D;
}

.btn-knfs-width {
	width: 150px;
}

#overview {
	min-height: 300px;
	margin-bottom: 5vh;
	margin-right: 0px !important; 
}

#overview div {
	display: flex;
    text-align: center;
    flex-direction: column;
    color: #013C4D;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

#overview div i {
	font-size: 50px;
}

.left {
	border-right: 0.3rem solid #f9f9f9 ;
}

.right {
	border-left: 0.3rem solid #f9f9f9;
}

.feature-content {
	width: 320px;
}

#moreCleaner {
	color: #013C4D;
	min-height: 300px;
	background-color: #fff;
}

#moreEfficient {
	color: #013C4D;
	min-height: 300px;
}
#moreEfficient .container-fluid {
	border: 0.01em solid #cfcfcf;
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
}

.container-tab {
	height: 500px;
	overflow-y: auto;
	padding-left: 0;
	padding-right: 0px;
}

.container-tab .btn-tab {
	height: 60px;
	display: flex;
	align-content: center;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	border-bottom: 0.1em solid #f9f9f9;
	padding-left: 1.5em;
	cursor: pointer;
	align-items: center;
	background-color: #f9f9f9;
	width: 100%;
	gap: 0.85rem;
}

.btn-tab i {
	font-size: 18px;
	color: #2B7F84;
}

.btn-tab .font-tab {
	font-size: 16px;
}

.btn-tab:hover {
	/* background-color: #f9f9f9; */
	background-color: #fff;
}
.btn-tab.active {
	/* background-color: #f9f9f9; */
	background-color: #fff;
}

.container-tab-content {
	height: 500px;
	overflow-y: auto;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 3em;
	padding-right: 2.5em;
}

.container-tab-content .tab-content {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

@media (max-width: 768px) {
	.container-tab {
		display: flex;
		height: 60px;
		overflow-x: auto;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: nowrap;
		padding-left: 0px;
    	padding-right: 0px;
	}
	.container-tab .btn-tab {
		padding: 1.1em;	
		min-width: fit-content;
		align-content: center;
		display: flex;
		border-bottom: 0;
		border-right: 0.1em solid #f9f9f9;
		align-items: center;
	}
	.container-tab-content {
		/* display: flex;
		height: 60px;
		overflow-x: scroll; */
	}
}

.section-header {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #013c4d !important;
}
.section-header .description {
	width: 500px;
}

.review-box {
	min-height: 100px;
	border: 0.01em solid #cfcfcf;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1em;
	width: 350px;
	break-inside: avoid-column
}

#reviewList {
	column-count: 3;
	gap: 2em;
}

@media (max-width: 1200px) {
	.review-box {
		width: 270px;
	}
	/* #reviewList {
		column-count: 2;
		gap: 2em;
	} */
}

@media (max-width: 991px) {
	#reviewList {
		column-count: 2;
	}
	.review-box {
		width: 320px;
	}
	
}

@media (max-width: 768px) {
	#reviewList {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.review-box {
		width: 350px;
	}
}

@media (max-width: 500px) {
	.section-header .description {
		width: 310px;
	}
}

.review-person {
	width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
	position: relative;
}

.review-person .review-avatar {
	width: 45px;
    height: 45px;
	position: relative;
}

.review-person .review-person-info {
	width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

.review-person-info .review-person-name {
	font-size: 16px;
    font-weight: 600;
}

.review-person-info .review-person-job {
	font-size: 12px;
    font-weight: 300;
}


iframe {
	border: none;
	width: 100%;
	/* height: auto; */
	/* min-height: 100vh; */
	scrollbar-width:none !important;
}

.spinner {
	/* display: none; */
	width: 5rem;
	height: 5rem;
	border: 0.6rem solid #f9f9f9;
	border-bottom: 0.6rem solid #013c4d;
	border-top: 0.6rem solid #013c4d;
	border-radius: 40%;
	animation: spin 1s linear infinite;
	margin: 45% auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

footer {
	background-color: #f9f9f9;
	color: #013c4d;
	padding: 1rem;
	text-align: center;
}